@font-face {
      font-family: PoppinsBold;
      src: url('./Poppins-Bold.ttf');
}

.coluna{
      border:1px solid black;
      color:gray;
}

.p-big{
      margin-bottom:180px;
}

.poppins{
      font-family: PoppinsBold;
}

.myTitle{
      font-size:4.5rem;
}

.text-dark-orange{
      color:#D73602;
}

.text-orange{
      color:#FF9659;
}

.body-bg{
      background: rgb(118,9,8);
      background: linear-gradient(141deg, rgba(118,9,8,1) 0%, rgba(121,57,35,1) 11%, rgba(93,25,3,1) 21%, rgba(14,16,22,1) 36%, rgba(9,4,15,1) 100%);
}

.my-nav{
      flex-grow:0;
}

.my-nav-item{
      color: white;
      transition:0.2s;
}

.my-nav-item:hover{
      color: #FF9659;
}

.page-selected{
      text-shadow: 0px 0px 4px #ff965991;
      color: #FF9659;
}

.page-selected:hover{
      color:#FF9659;
}

.orange-btn{
      background-color:#D93600;
      font-size:1rem;
      padding:15px 25px;
      transition:0.3s;
}
.orange-btn:hover{
      background-color: #EE0C0C;
      position:relative;
      box-shadow: 0 5px 10px 0 rgba(106,89,255,.2);
      transform: translate(0px, -2px);
}

.header.item{
      transition:0.4s
}
.header-item:hover{
      color:#FF9659;
      cursor:pointer;
}

.my-card-bg{
      background-color: #181628;
}

.my-card-img{
      width:90px;
}

.my-card-border{
      border:1px solid #322f4d;
}

.gray-circle{
      background-color: #2B2B2B;
      display:flex;
      align-items: center;
      justify-content: center;
      width:90px;
      height:90px;
      border-radius: 50%;
}

.pr-3{
      padding-right:40px;
}

.navbar-toggler{
      border:none;
}

.invert-color{
      filter:invert(100%);
}
